.btn {
	font-size: 1.2em;
	border: none;
	background-color: inherit;
	text-decoration: none;
	background-color: none;
	color: grey;
	cursor: pointer;
}
.btn:hover {
	color: white;
}
.container {
	display: flex;
	margin: 0px 8px;
	flex-wrap: wrap;
}
input {
	display: block;
	border-radius: 2px;
	padding: 8px;
	border: none;
	max-width: 100%;
	margin-bottom: 8px;
}