html {
	font-size: 1em;
	box-sizing: border-box;
}
.btn {
	height: 50px;
	width: 50px;
	font-size: 1.5em;
}
.app {
	position: relative;
}
.calculator {
	padding: 2px;
	background-color: #888;
	display: inline-block;
}
.log {
	position: absolute;
	top: 0px;
	margin-left: 5px;
	display: inline-block;
	width: 180px;
	height: 100%;
	overflow-y: auto;
}
.screen {
	box-sizing: border-box;background-color: #fff;
	width: 155px;
	height: 50px;
	padding: 5px;
	line-height: 40px;
	margin: 0px;
	text-align: right;
	overflow: hidden;
}
ul {
	list-style-type: square;
}