.modal {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.6);
	display: block;
	height: 100vh;
	width: 100vw;
}

.addlist {
	display: block;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 16px;
	border-radius: 5px;
	background-color: #FFDE03;
}