*{
	box-sizing: border-box;
	margin: 0px 16px 0px 0px;
	font-family: 'Roboto', sans-serif;
}
body {
	box-sizing: border-box;
	float: left;
	overflow: hidden;

}
.flex {
	width: 100%;
	/*background-color: red;*/
	display: flex;
}
.center {
	justify-content: center;
	text-align: center;
}
.header h3 {
	color: grey;
	font-style: italic;
	display: inline-block;
}
.header {
	text-align: center;
	padding: 8px 16px;
	background-color: #FFDE03;
	width: 100vw;
	box-shadow: 0px 0px 2px grey;
}
.container {
	display: flex;
	margin: 0px 8px;
	flex-wrap: wrap;
}
.modal {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
	background-color: rgba(0,0,0,0.6);
	display: none;
	height: 100vh;
	width: 100vw;
}
.addlist {
	display: block;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 8px;
	background-color: #FFDE03;
}
.list {
	border-radius: 5px;
	background-color: #D5D5D5;
	margin: 6px;
	padding: 2px;
	width: 300px;
	height: fit-content;
}
.listhead {
	margin: 4px 8px;
	display: flex;
	position: relative;
}
.button {
	font-size: 1.2em;
	border: none;
	background-color: inherit;
	text-decoration: none;
	background-color: none;
	color: grey;
	cursor: pointer;
	margin: 0px;
}
.button:hover {
	color: red;
}
.listcard {
	padding-bottom: 20px;
	min-height: 25px;
}
.addcard {
	margin: 20px 0px 0px 4px;
}

.card {
	box-sizing: border-box;
	display: inline-flex;
	width: 100%;
	height: 40px;
	background-color: white;
	border-radius: 5px;
	margin: auto;
	border: 2px solid #D5D5D5;
	padding: 8px; 
}
.placeholder {
	box-sizing: border-box;
	display: none;
	z-index: 5;
	position: absolute;
	height: 40px;
	width: 0px;
	margin: 0px;
	padding: 8px;
	border-radius: 2px;
	border: 3px dashed white;	
	background-color: #D5D5D5;
	color: white;
	text-align: center;
	font-style: italic;
}
.btnShowModal {
	position: absolute;
	right: 10px;
}
.btn {
	font-size: 1.2em;
	border: none;
	background-color: inherit;
	text-decoration: none;
	background-color: none;
	color: grey;
	cursor: pointer;
}
.btn:hover {
	color: white;
}

i {
	margin: 0px;
}
input {
	border-radius: 2px;
	padding: 8px;
	border: none;
	margin-bottom: 8px;
}
.inputText{
	display: block;
	width: 90%;
}
.bordered {
	border-bottom: 2px solid;
	border-right: 3px solid;
}
.inputType {
	display: none;
}
.inputText {
	width: 100%;
}
.inputButton {
	display: block;
	width: 100%;
	text-align: left;
}
.inputButton:hover {
	background-color: grey;
	border-radius: 5px;
	
}
.headername{
	font-weight: bold;
	cursor: pointer;
	font-size: 1em;
	background-color: inherit;
	width: 100%;
}


/* Edit holder */
.remove {
	position: absolute;
	top: 0px;
	right: 0px;
}
.filter {
	position: absolute;
	top: 0px;
	right: 10px;
}
.delCard {
	float: right;
}
.checkbox {
	margin: 0px;
	top: 0px;
}
.done {
	text-decoration: line-through;
}
.cardtitle {
	width: 100%;
	padding: 8px;
	cursor: pointer;
	background-color: inherit;
}
.listModal {
	position: absolute;	
	top: 0px;
	left: 0px;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.6);
}

.dropdown {
	display: none;
	position: absolute;
	width: 80px;
	padding: 4px;
	border-radius: 5px;
	box-shadow: 3px 3px 10px 0px black;
	background-color: white;
	
}
.dd-item {
	display: block;
	width: 100%;
	padding-left: 4px;
	text-decoration: none;
	border-bottom: 1px solid grey;
	color: #223767;
}
.dd-item:last-of-type {
	border: none;
}
.dd-item:hover {
	color: blue;
	background-color: #ddd;
}